.modal-body{
	height:250px;
}

th {
	text-align: center;
}

td {
	cursor:pointer;
}

td .form-control {
	border-right:none;
}
td .form-control:hover {
	background-color: #DDDDDD;
}

.points-hidden {
	background-color:white;
	border-left:none;
}

.points-hidden button {
		visibility: hidden;
}

.selected .form-control {
	background-color:#CECECE;
	color:white;
}

.correct .form-control {
	background-color:#7AD984;
	color:white;
}

.incorrect .form-control {
	background-color:#CF2100;
	color:white;
}

.selected .form-control:hover {
	background-color:#B9B9B9;
	color:white;
}
.dropdown-menu-right {
	min-width:0px;
}

.input-group-addon {
	padding: 0px 0px;
}