.modal-body{
	height:250px;
}
body {
	font-family: helvetica;
}
a {
	color:#4F4F51;
}
th {
	text-align: center;
}

td {
	cursor:pointer;
}
.nocaret {
	border-color:transparent;
}
.selectable .form-control:hover {
		background-color: #DDDDDD;
	}
}
.message {
	color:red;
}
#header {
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	text-align: center;
}
#menu-div {
	width:300px;
	margin-left:auto;
	margin-right:auto;
	text-align:center
}
.points-hidden {
	background-color:white;
	border-left:none;
}

.points-hidden button {
	visibility: hidden;
}

.selected .form-control {
	background-color:#CECECE;
	color:white;
}

.correct .form-control {
	background-color:#7AD984;
	color:white;
}

.incorrect .form-control {
	background-color:#CF2100;
	color:white;
}

.selected .form-control:hover {
	background-color:#B9B9B9;
	color:white;
}

.col-md-2.team {
	position:relative;
	min-width:220px;
}
.time-slot{
	bottom:-8px;
	width:90%;
	position: absolute;
	text-align: center;
	color:grey;
}
#game5-1time{
	bottom:40px;
}
.dropdown-menu-right {
	min-width:0px;
}

.input-group-addon {
	padding: 0px 0px;
}
#game1-1time, #game1-2time, #game1-3time, #game1-4time {
	bottom: -28px;
}
.tiebreaker {
	width:60%;
	text-align:center;
	bottom:-60px;
	margin-left: 15%;
	margin-right:20%;
	position:absolute;
}
.tiebreaker .input-group-addon {
	width:75%;
	min-width:100px;
}
.tiebreaker .sbscoreinput {
	width:43px;
	color:black;
}