{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <p style="text-align:center;">Select a winner for each game, and a point value between 1-11 to bet on it. You can only use each point value once, so use the higher ones on your more confident picks. </br>
    Current prize pool: $50. 3rd: $5, 2nd: $10, 1st: $35</p>
    {% if not hasBoughtIn %}
    <p class="message" style="text-align:center;">You have not bought in yet, and are not eligible for any prizes</p>
    {% else %}
    <p style="text-align:center;">You've bought in, and are eligible for prizes</p>
    {% endif %}
    <p class="message" style="text-align:center;">{{submission}}</p>
    <form action='submit' method='post'>
      <div class="row">
        <div class="col-md-12">
          <table class="table-condensed" style="width:100%">
            <tr>
              <th class="col-md-2 team">Wildcard</th>
              <th class="col-md-2 team">Division</th>
              <th class="col-md-2 team">Conference</th>
              <th class="col-md-2 team">Super Bowl</th>
            </tr>
            <tr>
              <td class="col-md-2 team" style="visibility:hidden;"><div class="input-group"><div class="form-control"></div><div class="input-group-btn">
                <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
              </div></div></td>
              <td id="game2-1-1" class={% if times[2][1]["locked"] %}"col-md-2 team"{% else %}"col-md-2 team selectable"{% endif %}  rowspan="2"><div class="input-group"><div class="form-control">{{times[2][1]["team1"]}}</div><div class="input-group-btn">
                <button id="BUTTON" name="BUTTON" type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
              </div></div><div id="game2-1time" class="time-slot">{{times[2][1]["time"]}}</div></td>
              <td id="game3-1-1" class={% if times[3][1]["locked"] %}"col-md-2 team"{% else %}"col-md-2 team selectable"{% endif %}  rowspan="4"><div class="input-group"><div class="form-control">{{times[3][1]["team1"]}}</div><div class="input-group-btn">
                <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
              </div></div><div id="game3-1time" class="time-slot">{{times[3][1]["time"]}}</div></td></td>
              <td id="game4-1-1" class={% if times[4][1]["locked"] %}"col-md-2 team"{% else %}"col-md-2 team selectable"{% endif %}  rowspan="8"><div class="input-group"><div class="form-control">{{times[4][1]["team1"]}}</div><div class="input-group-btn">
                <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
              </div></div>
              <div id="game5-1time" class="time-slot">{{times[4][1]["time"]}}</div>
              <div id="tiebreaker" class="tiebreaker">
                <h5>Tiebreaker</h5>
                <div class="input-group">
                <span class="input-group-addon">{{times[4][1]["team1"]}}</span>
                  <input id="sbscore1" type="text" class="form-control sbscoreinput">
                </div>
                <div class="input-group">
                <span class="input-group-addon">{{times[4][1]["team2"]}}</span>
                  <input id="sbscore2" type="text" class="form-control sbscoreinput">
                </div>
              </div>
            </td>
          </tr>
          <tr>

            <td id="game1-1-1" class={% if times[1][1]["locked"] %}"col-md-2 team"{% else %}"col-md-2 team selectable"{% endif %} >
            <div class="input-group"><div class="form-control">{{times[1][1]["team1"]}}</div><div class="input-group-btn">
              <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
              </div></div><div id="game1-1time" class="time-slot">{{times[1][1]["time"]}}</div></td>
            
          </tr>
          <tr>

            <td class="col-md-2 team" style="visibility:hidden;"><div class="input-group"><div class="form-control"></div><div class="input-group-btn">
                <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
              </div></div></td>
            </div></div></td>
            <td id="game2-1-2" class={% if times[2][1]["locked"] %}"col-md-2 team"{% else %}"col-md-2 team selectable"{% endif %}  rowspan="2"><div class="input-group"><div class="form-control">{{times[2][1]["team2"]}}</div><div class="input-group-btn">
              <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
            </div></div></td>
          </tr>
          <tr>
            <td id="game1-1-2" class={% if times[1][1]["locked"] %}"col-md-2 team"{% else %}"col-md-2 team selectable"{% endif %} ><div class="input-group"><div class="form-control">{{times[1][1]["team2"]}}</div><div class="input-group-btn">
              <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
            </div></div></td>
          </tr>
          <tr>
            <td class="col-md-2 team" style="visibility:hidden;"><div class="input-group"><div class="form-control"></div><div class="input-group-btn">
              <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
            </div></div></td>
            <td id="game2-2-1" class={% if times[2][2]["locked"] %}"col-md-2 team"{% else %}"col-md-2 team selectable"{% endif %}  rowspan="2"><div class="input-group"><div class="form-control">{{times[2][2]["team1"]}}</div><div class="input-group-btn">
              <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
            </div></div><div id="game2-2time" class="time-slot">{{times[2][2]["time"]}}</div></td></td>
            <td id="game3-1-2" class={% if times[3][1]["locked"] %}"col-md-2 team"{% else %}"col-md-2 team selectable"{% endif %}  rowspan="4"><div class="input-group"><div class="form-control">{{times[3][1]["team2"]}}</div><div class="input-group-btn">
              <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
            </div></div></td>
          </tr>
          <tr>
            <td id="game1-2-1" class={% if times[1][2]["locked"] %}"col-md-2 team"{% else %}"col-md-2 team selectable"{% endif %} ><div class="input-group"><div class="form-control">{{times[1][2]["team1"]}}</div><div class="input-group-btn">
              <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
              </div></div><div id="game1-2time" class="time-slot">{{times[1][2]["time"]}}</div></td>
            
          </tr>
          <tr>
            <td class="col-md-2 team" style="visibility:hidden;"><div class="input-group"><div class="form-control"></div><div class="input-group-btn">
                <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
              </div></div></td>
            <td id="game2-2-2" class={% if times[2][2]["locked"] %}"col-md-2 team"{% else %}"col-md-2 team selectable"{% endif %}  rowspan="2"><div class="input-group"><div class="form-control">{{times[2][2]["team2"]}}</div><div class="input-group-btn">
              <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
            </div></div></td>
          </tr>
          <tr>
            <td id="game1-2-2" class={% if times[1][2]["locked"] %}"col-md-2 team"{% else %}"col-md-2 team selectable"{% endif %} ><div class="input-group"><div class="form-control">{{times[1][2]["team2"]}}</div><div class="input-group-btn">
              <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
            </div></div></td>
          </tr>
          <tr>
            <td class="col-md-2 team" style="visibility:hidden;"><div class="input-group"><div class="form-control"></div><div class="input-group-btn">
              <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
            </div></div></td>
            <td id="game2-3-1" class={% if times[2][3]["locked"] %}"col-md-2 team"{% else %}"col-md-2 team selectable"{% endif %}  rowspan="2"><div class="input-group"><div class="form-control">{{times[2][3]["team1"]}}</div><div class="input-group-btn">
              <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
            </div></div><div id="game2-3time" class="time-slot">{{times[2][3]["time"]}}</div></td></td>
            <td id="game3-2-1" class={% if times[3][2]["locked"] %}"col-md-2 team"{% else %}"col-md-2 team selectable"{% endif %}  rowspan="4"><div class="input-group"><div class="form-control">{{times[3][2]["team1"]}}</div><div class="input-group-btn">
              <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
            </div></div><div id="game3-2time" class="time-slot">{{times[3][2]["time"]}}</div></td></td>
            <td id="game4-1-2" class={% if times[4][1]["locked"] %}"col-md-2 team"{% else %}"col-md-2 team selectable"{% endif %}  rowspan="8"><div class="input-group"><div class="form-control">{{times[4][1]["team2"]}}</div><div class="input-group-btn">
              <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
            </div></div></td>
          </tr>
          <tr>
            <td id="game1-3-1" class={% if times[1][3]["locked"] %}"col-md-2 team"{% else %}"col-md-2 team selectable"{% endif %} ><div class="input-group"><div class="form-control">{{times[1][3]["team1"]}}</div><div class="input-group-btn">
              <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
              </div></div><div id="game1-3time" class="time-slot">{{times[1][3]["time"]}}</div></td>
            
          </tr>
          <tr>
            <td class="col-md-2 team" style="visibility:hidden;"><div class="input-group"><div class="form-control"></div><div class="input-group-btn">
                <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
              </div></div></td>
            <td id="game2-3-2" class={% if times[2][3]["locked"] %}"col-md-2 team"{% else %}"col-md-2 team selectable"{% endif %}  rowspan="2"><div class="input-group"><div class="form-control">{{times[2][3]["team2"]}}</div><div class="input-group-btn">
              <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
            </div></div></td>
          </tr>
          <tr>
            <td id="game1-3-2" class={% if times[1][3]["locked"] %}"col-md-2 team"{% else %}"col-md-2 team selectable"{% endif %} ><div class="input-group"><div class="form-control">{{times[1][3]["team2"]}}</div><div class="input-group-btn">
              <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
            </div></div></td>
          </tr>
          <tr>
            <td class="col-md-2 team" style="visibility:hidden;"><div class="input-group"><div class="form-control"></div><div class="input-group-btn">
              <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
            </div></div></td>
            <td id="game2-4-1" class={% if times[2][4]["locked"] %}"col-md-2 team"{% else %}"col-md-2 team selectable"{% endif %}  rowspan="2"><div class="input-group"><div class="form-control">{{times[2][4]["team1"]}}</div><div class="input-group-btn">
              <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
            </div></div><div id="game2-4time" class="time-slot">{{times[2][4]["time"]}}</div></td></td>
            <td id="game3-2-2" class={% if times[3][2]["locked"] %}"col-md-2 team"{% else %}"col-md-2 team selectable"{% endif %}  rowspan="4"><div class="input-group"><div class="form-control">{{times[3][2]["team2"]}}</div><div class="input-group-btn">
              <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
            </div></div></td>
          </tr>
          <tr>
            <td id="game1-4-1" class={% if times[1][4]["locked"] %}"col-md-2 team"{% else %}"col-md-2 team selectable"{% endif %} ><div class="input-group"><div class="form-control">{{times[1][4]["team1"]}}</div><div class="input-group-btn">
              <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
              </div></div><div id="game1-4time" class="time-slot">{{times[1][4]["time"]}}</div></td>
            
          </tr>
          <tr>
            <td class="col-md-2 team" style="visibility:hidden;"><div class="input-group"><div class="form-control"></div><div class="input-group-btn">
                <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
              </div></div></td>
            <td id="game2-4-2" class={% if times[2][4]["locked"] %}"col-md-2 team"{% else %}"col-md-2 team selectable"{% endif %}  rowspan="2"><div class="input-group"><div class="form-control">{{times[2][4]["team2"]}}</div><div class="input-group-btn">
              <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
            </div></div></td>
          </tr>
          <tr>
            <td id="game1-4-2" class={% if times[1][4]["locked"] %}"col-md-2 team"{% else %}"col-md-2 team selectable"{% endif %} ><div class="input-group"><div class="form-control">{{times[1][4]["team2"]}}</div><div class="input-group-btn">
              <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
            </div></div></td>
          </tr>
        </table>
      </div>
    </div>
    <input id="picksHolder" type="hidden" name="picks" value="{{picks}}"></input> 
    <input id="correctpicksHolder" type="hidden" name="correctpicks" value="{{correctpicks}}"></input>
    <input id="tiebreakerHolder" type="hidden" name="tiebreaker" value="{{tiebreaker}}"></input>
    <button type='submit' class="btn btn-primary btn-lg btn-block">Submit</button>
  </form>
</div>


</div> <!-- /container -->        
{% endblock %}
