{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <link rel="stylesheet" href="static/css/bootstrap.min.css"> -->
  <style>
    body {

      padding-bottom: 20px;
    }
  </style>
  

  <!-- <script src="static/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script> -->
</head>
<body>
  <div class="container">
    <form action='submit' method='post'>
      <div class="row">
        <div class="col-md-12">
          <table class="table-condensed" style="width:100%">
            <tr>
              <th class="col-md-2 team">Wildcard</th>
              <th class="col-md-2 team">Division</th>
              <th class="col-md-2 team">Conference</th>
              <th class="col-md-2 team">Super Bowl</th>

            </tr>
            <tr>
              <td class="col-md-2 team" style="visibility:hidden;"><div class="input-group"><div class="form-control"></div><div class="input-group-btn">
                <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
              </div></div></td>
              <td id="game2-1-1" class="col-md-2 team" rowspan="2"><div class="input-group"><div class="form-control">Denver Broncos</div><div class="input-group-btn">
                <button id="BUTTON" name="BUTTON" type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
              </div></div><div id="game2-1time" class="time-slot">{{times[2][1]}}</div></td>
              <td id="game3-1-1" class="col-md-2 team" rowspan="4"><div class="input-group"><div class="form-control"></div><div class="input-group-btn">
                <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
              </div></div><div id="game3-1time" class="time-slot">{{times[3][1]}}</div></td></td>
              <td id="game4-1-1" class="col-md-2 team" rowspan="8"><div class="input-group"><div class="form-control"></div><div class="input-group-btn">
                <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
              </div></div>
              <div id="game5-1time" class="time-slot">{{times[4][1]}}</div>
              <div id="tiebreaker" class="tiebreaker">
                <h5>Tiebreaker</h5>
                <div class="input-group">
                <span class="input-group-addon"></span>
                  <input id="sbscore1" type="text" class="form-control sbscoreinput">
                </div>
                <div class="input-group">
                <span class="input-group-addon"></span>
                  <input id="sbscore2" type="text" class="form-control sbscoreinput">
                </div>
              </div>
            </td>
          </tr>
          <tr>

            <td class="col-md-2 team" style="visibility:hidden;"><div class="input-group"><div class="form-control"></div><div class="input-group-btn">
              <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
            </div></div></td>
            
          </tr>
          <tr>

            <td id="game1-1-1" class="col-md-2 team">
            <div class="input-group"><div class="form-control">Pittsburgh Steelers</div><div class="input-group-btn">
              <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
            </div></div></td>
            <td id="game2-1-2" class="col-md-2 team" rowspan="2"><div class="input-group"><div class="form-control">Pittsburgh Steelers</div><div class="input-group-btn">
              <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
            </div></div></td>
          </tr>
          <tr>
            <td id="game1-1-2" class="col-md-2 team"><div class="input-group"><div class="form-control">Cincinnati Bengals</div><div class="input-group-btn">
              <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
            </div></div></td>
          </tr>
          <tr>
            <td class="col-md-2 team" style="visibility:hidden;"><div class="input-group"><div class="form-control"></div><div class="input-group-btn">
              <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
            </div></div></td>
            <td id="game2-2-1" class="col-md-2 team" rowspan="2"><div class="input-group"><div class="form-control">New England Patriots</div><div class="input-group-btn">
              <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
            </div></div><div id="game2-2time" class="time-slot">{{times[2][2]}}</div></td></td>
            <td id="game3-1-2" class="col-md-2 team" rowspan="4"><div class="input-group"><div class="form-control"></div><div class="input-group-btn">
              <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
            </div></div></td>
          </tr>
          <tr>
            <td class="col-md-2 team" style="visibility:hidden;"><div class="input-group"><div class="form-control"></div><div class="input-group-btn">
              <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
            </div></div></td>
            
          </tr>
          <tr>
            <td id="game1-2-1" class="col-md-2 team"><div class="input-group"><div class="form-control">Kansas City Chiefs</div><div class="input-group-btn">
              <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
            </div></div></td>
            <td id="game2-2-2" class="col-md-2 team" rowspan="2"><div class="input-group"><div class="form-control">Kansas City Chiefs</div><div class="input-group-btn">
              <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
            </div></div></td>
          </tr>
          <tr>
            <td id="game1-2-2" class="col-md-2 team"><div class="input-group"><div class="form-control">Houston Texans</div><div class="input-group-btn">
              <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
            </div></div></td>
          </tr>
          <tr>
            <td class="col-md-2 team" style="visibility:hidden;"><div class="input-group"><div class="form-control"></div><div class="input-group-btn">
              <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
            </div></div></td>
            <td id="game2-3-1" class="col-md-2 team" rowspan="2"><div class="input-group"><div class="form-control">Arizona Cardinals</div><div class="input-group-btn">
              <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
            </div></div><div id="game2-3time" class="time-slot">{{times[2][3]}}</div></td></td>
            <td id="game3-2-1" class="col-md-2 team" rowspan="4"><div class="input-group"><div class="form-control"></div><div class="input-group-btn">
              <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
            </div></div><div id="game3-2time" class="time-slot">{{times[3][2]}}</div></td></td>
            <td id="game4-1-2" class="col-md-2 team" rowspan="8"><div class="input-group"><div class="form-control"></div><div class="input-group-btn">
              <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
            </div></div></td>
          </tr>
          <tr>
            <td class="col-md-2 team" style="visibility:hidden;"><div class="input-group"><div class="form-control"></div><div class="input-group-btn">
              <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
            </div></div></td>
            
          </tr>
          <tr>
            <td id="game1-3-1" class="col-md-2 team"><div class="input-group"><div class="form-control">Seattle Seahawks</div><div class="input-group-btn">
              <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
            </div></div></td>
            <td id="game2-3-2" class="col-md-2 team" rowspan="2"><div class="input-group"><div class="form-control"></div><div class="input-group-btn">
              <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
            </div></div></td>
          </tr>
          <tr>
            <td id="game1-3-2" class="col-md-2 team"><div class="input-group"><div class="form-control">Minnesota Vikings</div><div class="input-group-btn">
              <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
            </div></div></td>
          </tr>
          <tr>
            <td class="col-md-2 team" style="visibility:hidden;"><div class="input-group"><div class="form-control"></div><div class="input-group-btn">
              <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
            </div></div></td>
            <td id="game2-4-1" class="col-md-2 team" rowspan="2"><div class="input-group"><div class="form-control">Carolina Panthers</div><div class="input-group-btn">
              <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
            </div></div><div id="game2-4time" class="time-slot">{{times[2][4]}}</div></td></td>
            <td id="game3-2-2" class="col-md-2 team" rowspan="4"><div class="input-group"><div class="form-control"></div><div class="input-group-btn">
              <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
            </div></div></td>
          </tr>
          <tr>
            <td class="col-md-2 team" style="visibility:hidden;"><div class="input-group"><div class="form-control"></div><div class="input-group-btn">
              <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
            </div></div></td>
            
          </tr>
          <tr>
            <td id="game1-4-1" class="col-md-2 team"><div class="input-group"><div class="form-control">Green Bay Packers</div><div class="input-group-btn">
              <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
            </div></div></td>
            <td id="game2-4-2" class="col-md-2 team" rowspan="2"><div class="input-group"><div class="form-control"></div><div class="input-group-btn">
              <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
            </div></div></td>
          </tr>
          <tr>
            <td id="game1-4-2" class="col-md-2 team"><div class="input-group"><div class="form-control">Washington Redskins</div><div class="input-group-btn">
              <button type="button" disabled="true" class="btn btn-sml dropdown-toggle" data-toggle="dropdown" aria-expanded="false">0 <span class="caret"></span></button><ul class="dropdown-menu dropdown-menu-right" role="menu"><li><a>1</a></li><li><a>2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li><li><a>6</a></li><li><a>7</a></li><li><a>8</a></li><li><a>9</a></li><li><a>10</a></li><li><a>11</a></li></ul>
            </div></div></td>
          </tr>
        </table>
      </div>
    </div>
    <input id="picksHolder" type="hidden" name="picks" value="{{picks}}"></input> 
    <input id="correctpicksHolder" type="hidden" name="correctpicks" value="{{correctpicks}}"></input>
    <input id="tiebreakerHolder" type="hidden" name="tiebreaker" value="{{tiebreaker}}"></input>
    <button type='submit' class="btn btn-primary btn-lg btn-block">Submit</button>
    <p style="text-align:center;">{{submission}}</p>
  </form>
</div>


</div> <!-- /container -->        

<!-- <script src="static/js/vendor/bootstrap.min.js"></script> -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.1.min.js"><\/script>')</script>
<!-- <link rel="stylesheet" href="static/css/bootstrap-theme.min.css"> -->
{% if config.PREFIX %}
<script src="{{config.PREFIX}}/static/js/main.js"></script>
<link rel="stylesheet" href="{{config.PREFIX}}/static/css/main.css">
{% else %}
<script src="static/js/main.js"></script>
<link rel="stylesheet" href="static/css/main.css">
{% endif %}

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
  (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
  e=o.createElement(i);r=o.getElementsByTagName(i)[0];
  e.src='//www.google-analytics.com/analytics.js';
  r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
  ga('create','UA-XXXXX-X');ga('send','pageview');
</script>
</body>
</html>
{% endblock %}
