{% extends 'flask_user/member_base.html' %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_checkbox_field, render_submit_field %}
<h1>{%trans%}User profile{%endtrans%}</h1>

{% if user_manager.enable_change_username %}
<p><a href="{{config.PREFIX}}{{ url_for('user.change_username') }}">{%trans%}Change username{%endtrans%}</a></p>
{% endif %}
{% if user_manager.enable_change_password %}
<p><a href="{{config.PREFIX}}{{ url_for('user.change_password') }}">{%trans%}Change password{%endtrans%}</a></p>
{% endif %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.1.min.js"><\/script>')</script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    {% if config.PREFIX %}
    <script src="/{{config.PREFIX}}/static/js/main.js"></script>
    <link rel="stylesheet" href="/{{config.PREFIX}}/static/css/main.css">
    {% else %}
    <script src="/static/js/main.js"></script>
    <link rel="stylesheet" href="static/css/main.css">
    {% endif %}
    
{% endblock %}